<form [formGroup]="form">
  <input type="hidden" [value]="turn.id" />

  <!-- TODO: remove style when md-form-field supports md-selects -->
  <md-form-field style="max-width: 40px">
    <input mdInput formControlName="order" type="number" min="1" [max]="players.length" placeholder="Order" [value]="turn.order" />
    <md-error clueErrorMessages="order" [clueReplacements]="{max: players.length}"></md-error>
  </md-form-field>

  <!-- TODO: remove class and styles when md-form-field supports md-selects -->
  <md-form-field class="mat-form-field-type-mat-select">
    <md-select formControlName="playerId" placeholder="Player" [value]="turn.playerId">
      <md-option *ngFor="let player of players" [value]="player.id">{{ player.name }}</md-option>
    </md-select>

    <!-- TODO: remove input when md-form-field supports md-selects -->
    <input mdInput formControlName="playerId" hidden id="temporary fix" />
    
    <md-error clueErrorMessages="playerId"></md-error>
  </md-form-field>

  <clue-suggestion-form [suggestion]="turn.suggestion"></clue-suggestion-form>

  <clue-disprove-form [disprove]="turn.disprove" [players]="players"></clue-disprove-form>
  
  <button md-icon-button type="button" color="warn" (click)="removeTurn()">
    <md-icon>delete</md-icon>
  </button>
  
  <button md-icon-button type="button" mdTooltip="Saved" mdTooltipPosition="after" *ngIf="saved">
    <md-icon color="primary">done</md-icon>
  </button>
</form>