<form [formGroup]="form">
  <input type="hidden" [value]="turn.id" />

  <!-- TODO: remove style when md-form-field supports md-selects -->
  <md-form-field style="max-width: 40px">
    <input mdInput formControlName="order" type="number" min="1" [max]="players.length" placeholder="Order" [value]="turn.order" />
    <md-error clueErrorMessages="order" [clueReplacements]="{max: players.length}"></md-error>
  </md-form-field>

  <!-- TODO: remove class and styles when md-form-field supports md-selects -->
  <md-form-field class="mat-form-field-type-mat-select">
    <md-select formControlName="playerId" placeholder="Player" [value]="turn.playerId">
      <md-option *ngFor="let player of players" [value]="player.id">{{ player.name }}</md-option>
    </md-select>

    <!-- TODO: remove input when md-form-field supports md-selects -->
    <input mdInput formControlName="playerId" hidden id="temporary fix" />
    
    <md-error clueErrorMessages="playerId"></md-error>
  </md-form-field>

  <div formGroupName="suggestion">
    <label>Suggestion</label>

    <!-- TODO: remove class and styles when md-form-field supports md-selects -->
    <md-form-field class="mat-form-field-type-mat-select">
      <md-select formControlName="suspectId" placeholder="Suspect" [value]="turn.suspectId">
        <md-option *ngFor="let suspect of suspects" [value]="suspect.id">{{ suspect.name }}</md-option>
      </md-select>

      <!-- TODO: remove input when md-form-field supports md-selects -->
      <input mdInput formControlName="suspectId" hidden id="temporary fix" />
      
      <md-error clueErrorMessages="suggestion.suspectId" [clueReplacements]="{ container: 'the suspects' }"></md-error>
    </md-form-field>

    <!-- TODO: remove class and styles when md-form-field supports md-selects -->
    <md-form-field class="mat-form-field-type-mat-select">
      <md-select formControlName="weaponId" placeholder="Weapon" [value]="turn.weaponId">
        <md-option *ngFor="let weapon of weapons" [value]="weapon.id">{{ weapon.name }}</md-option>
      </md-select>

      <!-- TODO: remove input when md-form-field supports md-selects -->
      <input mdInput formControlName="weaponId" hidden id="temporary fix" />
      
      <md-error clueErrorMessages="suggestion.weaponId" [clueReplacements]="{ container: 'the weapons' }"></md-error>
    </md-form-field>

    <!-- TODO: remove class and styles when md-form-field supports md-selects -->
    <md-form-field class="mat-form-field-type-mat-select">
      <md-select formControlName="roomId" placeholder="Room" [value]="turn.roomId">
        <md-option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</md-option>
      </md-select>

      <!-- TODO: remove input when md-form-field supports md-selects -->
      <input mdInput formControlName="roomId" hidden id="temporary fix" />
      
      <md-error clueErrorMessages="suggestion.roomId" [clueReplacements]="{ container: 'the rooms' }"></md-error>
    </md-form-field>
  </div>

  <div formGroupName="disprove">
    <label>Disproved</label>

    <!-- TODO: remove class and styles when md-form-field supports md-selects -->
    <md-form-field class="mat-form-field-type-mat-select">
      <md-select formControlName="playerId" placeholder="By" [value]="turn.playerId">
        <md-option *ngFor="let player of players" [value]="player.id">{{ player.name }}</md-option>
      </md-select>

      <!-- TODO: remove input when md-form-field supports md-selects -->
      <input mdInput formControlName="playerId" hidden id="temporary fix" />
      
      <md-error clueErrorMessages="disprove.playerId" [clueReplacements]="{ container: 'the players' }"></md-error>
    </md-form-field>

    <!-- TODO: remove class and styles when md-form-field supports md-selects -->
    <md-form-field class="mat-form-field-type-mat-select">
      <md-select formControlName="cardId" placeholder="With" [value]="turn.cardId">
        <md-optgroup label="Suspects">
          <md-option *ngFor="let suspect of suspects" [value]="suspect.id">
              <span>{{ suspect.name }}</span>
          </md-option>
        </md-optgroup>
  
        <md-optgroup label="Weapons">
          <md-option *ngFor="let weapon of weapons" [value]="weapon.id">
              <span>{{ weapon.name }}</span>
          </md-option>
        </md-optgroup>
  
        <md-optgroup label="Rooms">
          <md-option *ngFor="let room of rooms" [value]="room.id">
              <span>{{ room.name }}</span>
          </md-option>
        </md-optgroup>
      </md-select>

      <!-- TODO: remove input when md-form-field supports md-selects -->
      <input mdInput formControlName="cardId" hidden id="temporary fix" />
      
      <md-error clueErrorMessages="disprove.cardId" [clueReplacements]="{ container: 'the cards' }"></md-error>
    </md-form-field>
  </div>
  
  <button md-icon-button type="button" color="warn" (click)="removeTurn()">
    <md-icon>delete</md-icon>
  </button>
  
  <button md-icon-button type="button" mdTooltip="Saved" mdTooltipPosition="after" *ngIf="saved">
    <md-icon color="primary">done</md-icon>
  </button>
</form>