<form [formGroup]="form">
  <label>Suggestion</label>

  <!-- TODO: remove class and styles when md-form-field supports md-selects -->
  <md-form-field class="mat-form-field-type-mat-select">
    <md-select formControlName="suspectId" placeholder="Suspect" [value]="suggestion.suspectId">
      <md-option *ngFor="let suspect of suspects" [value]="suspect.id">{{ suspect.name }}</md-option>
    </md-select>

    <!-- TODO: remove input when md-form-field supports md-selects -->
    <input mdInput formControlName="suspectId" hidden id="temporary fix" />
    
    <md-error clueErrorMessages="suspectId" [clueReplacements]="{ container: 'the suspects' }"></md-error>
  </md-form-field>

  <!-- TODO: remove class and styles when md-form-field supports md-selects -->
  <md-form-field class="mat-form-field-type-mat-select">
    <md-select formControlName="weaponId" placeholder="Weapon" [value]="suggestion.weaponId">
      <md-option *ngFor="let weapon of weapons" [value]="weapon.id">{{ weapon.name }}</md-option>
    </md-select>

    <!-- TODO: remove input when md-form-field supports md-selects -->
    <input mdInput formControlName="weaponId" hidden id="temporary fix" />
    
    <md-error clueErrorMessages="weaponId" [clueReplacements]="{ container: 'the weapons' }"></md-error>
  </md-form-field>

  <!-- TODO: remove class and styles when md-form-field supports md-selects -->
  <md-form-field class="mat-form-field-type-mat-select">
    <md-select formControlName="roomId" placeholder="Room" [value]="suggestion.roomId">
      <md-option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</md-option>
    </md-select>

    <!-- TODO: remove input when md-form-field supports md-selects -->
    <input mdInput formControlName="roomId" hidden id="temporary fix" />
    
    <md-error clueErrorMessages="roomId" [clueReplacements]="{ container: 'the rooms' }"></md-error>
  </md-form-field>
</form>
