<md-error *ngIf="!ready" class="not-ready-message">
  Looks like you still need a little setup to get ready. Please go back to <a routerLink="/players">Players</a> and assign all cards to players
</md-error>

<button md-raised-button
        color="primary"
        (click)="addTurn()">
  <md-icon>add</md-icon> Turn
</button>

<md-accordion>
  <md-expansion-panel *ngFor="let round of rounds">
    <md-expansion-panel-header>
      <mat-panel-title><h4>Round {{ round.number }}</h4></mat-panel-title>
    </md-expansion-panel-header>

    <clue-round [round]="round"
                [players]="players"
                (remove)="onRemove($event)">
      Loading round...
    </clue-round>
  </md-expansion-panel>
</md-accordion>