<button md-raised-button
        color="primary"
        (click)="addTurn()">
  <md-icon>add</md-icon> Turn
</button>

<md-accordion>
  <md-expansion-panel *ngFor="let round of rounds | async">
    <md-expansion-panel-header>
      <mat-panel-title><h4>Round {{ round.number }}</h4></mat-panel-title>
    </md-expansion-panel-header>

    <clue-round [turns]="round.turns"
                [players]="players | async"
                [rooms]="rooms | async"
                [suspects]="suspects | async"
                [weapons]="weapons | async"
                (add)="addTurn()"
                (save)="onSave($event)"
                (remove)="onRemove($event)">
      Loading round...
    </clue-round>
  </md-expansion-panel>
</md-accordion>