<md-expansion-panel>

  <md-expansion-panel-header>
    <mat-panel-title><h4>Round {{ round.number }}</h4></mat-panel-title>
    <mat-panel-description>
      <div class="turn-description" *ngFor="let turn of round.turns; let i = index">
        {{ turn.toString() ? 'Turn ' + (i+1) + '. ' + turn : '' }}
      </div>
    </mat-panel-description>
  </md-expansion-panel-header>

  <md-accordion>
    <md-expansion-panel *ngFor="let turn of round.turns; let i = index">
      <md-expansion-panel-header>
        <mat-panel-title>Turn {{ i }}</mat-panel-title>
        <mat-panel-description>{{ turn }}</mat-panel-description>
      </md-expansion-panel-header>

      <clue-turn-form  [turn]="turn" [players]="players" (remove)="onRemove($event)"></clue-turn-form>
    </md-expansion-panel>
  </md-accordion>

  <button md-raised-button color="primary" (click)="addTurn()" *ngIf="canAdd">
    <md-icon>add</md-icon> Turn
  </button>

</md-expansion-panel>