<md-accordion>
  <md-expansion-panel *ngFor="let turn of turns">
    <md-expansion-panel-header>
      <mat-panel-title>Turn {{ turn.order }}</mat-panel-title>
      <mat-panel-description>{{ descriptionFor(turn) }}</mat-panel-description>
    </md-expansion-panel-header>

    <clue-turn-form [turn]="turn"
                    [players]="players"
                    [rooms]="rooms"
                    [suspects]="suspects"
                    [weapons]="weapons"
                    (save)="save.emit($event)"
                    (remove)="remove.emit($event)">
    </clue-turn-form>
  </md-expansion-panel>
</md-accordion>

<button md-raised-button color="primary" (click)="add.emit($event)" *ngIf="canAdd">
  <md-icon>add</md-icon> Turn
</button>
