<form [formGroup]="form">
  <label>Disproved</label>

  <mat-form-field>
    <mat-label>By</mat-label>
    <mat-select formControlName="playerId">
      <mat-option *ngFor="let player of players" [value]="player.id">
        {{ player.name }}
      </mat-option>
    </mat-select>

    <mat-error
      clueErrorMessages="playerId"
      [clueReplacements]="{ container: 'the players' }"
    ></mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>With</mat-label>
    <mat-select formControlName="cardId">
      <mat-optgroup label="Suspect">
        <mat-option [value]="suspect?.id">
          {{ suspect?.name }}
        </mat-option>
      </mat-optgroup>

      <mat-optgroup label="Weapon">
        <mat-option [value]="weapon?.id">
          {{ weapon?.name }}
        </mat-option>
      </mat-optgroup>

      <mat-optgroup label="Room">
        <mat-option [value]="room?.id">
          {{ room?.name }}
        </mat-option>
      </mat-optgroup>
    </mat-select>

    <mat-error
      clueErrorMessages="cardId"
      [clueReplacements]="{ container: 'the cards' }"
    ></mat-error>
  </mat-form-field>
</form>
