<form [formGroup]="form">
  <label>Disproved</label>

  <!-- TODO: remove class and styles when md-form-field supports md-selects -->
  <md-form-field class="mat-form-field-type-mat-select">
    <md-select formControlName="playerId" placeholder="By" [value]="disprove.playerId">
      <md-option *ngFor="let player of players" [value]="player.id">{{ player.name }}</md-option>
    </md-select>

    <!-- TODO: remove input when md-form-field supports md-selects -->
    <input mdInput formControlName="playerId" hidden id="temporary fix" />
    
    <md-error clueErrorMessages="playerId" [clueReplacements]="{ container: 'the players' }"></md-error>
  </md-form-field>

  <!-- TODO: remove class and styles when md-form-field supports md-selects -->
  <md-form-field class="mat-form-field-type-mat-select">
    <md-select formControlName="cardId" placeholder="With" [value]="disprove.cardId">
      <md-optgroup label="Suspect">
        <md-option [value]="suspect?.id">
            {{ suspect?.name }}
        </md-option>
      </md-optgroup>

      <md-optgroup label="Weapon">
        <md-option [value]="weapon?.id">
            {{ weapon?.name }}
        </md-option>
      </md-optgroup>

      <md-optgroup label="Room">
        <md-option [value]="room?.id">
            {{ room?.name }}
        </md-option>
      </md-optgroup>
    </md-select>

    <!-- TODO: remove input when md-form-field supports md-selects -->
    <input mdInput formControlName="cardId" hidden id="temporary fix" />
    
    <md-error clueErrorMessages="cardId" [clueReplacements]="{ container: 'the cards' }"></md-error>
  </md-form-field>
</form>