<md-card>
  <clue-player-form *ngFor="let player of players"
                    [player]="player"
                    [playerCount]="players.length"
                    [suspects]="suspects"
                    [rooms]="rooms"
                    [weapons]="weapons"
                    (remove)="onRemove($event)">
    Loading player...
  </clue-player-form>

  <button md-raised-button
          color="primary"
          (click)="addPlayer()"
          *ngIf="players?.length < 6">
    <md-icon>add</md-icon> Player
  </button>
</md-card>