<div *ngFor="let player of (players | async); trackBy: id">
  <mat-card>
    <clue-player-form
      [player]="player"
      [playerCount]="playerCount | async"
      [maxCards]="maxCards | async"
      [characters]="charactersFor(player) | async"
      [rooms]="roomsFor(player) | async"
      [suspects]="suspectsFor(player) | async"
      [weapons]="weaponsFor(player) | async"
      (save)="onSave($event)"
      (remove)="onRemove($event)"
    >
      Loading player...
    </clue-player-form>
  </mat-card>
</div>

<button
  mat-raised-button
  color="primary"
  (click)="addPlayer()"
  *ngIf="(canAdd | async)"
>
  <mat-icon>add</mat-icon> Player
</button>
