@import '~@angular/material/theming';

@include mat-core();


$clue-primary: mat-palette($mat-blue);
$clue-accent: mat-palette($mat-deep-orange, 500, A100, A400);

$clue-warn: mat-palette($mat-red);


$clue-theme: mat-light-theme($clue-primary, $clue-accent, $clue-warn);


@include angular-material-theme($clue-theme);


// TODO: remove this fix when md-form-field supports md-selects
.mat-form-field-type-mat-select {
    
    .mat-form-field-flex {
        cursor: pointer;
    }

    .mat-form-field-infix {
        min-width: 0;
        
        .mat-select {
            padding-top: 0;
            width: 100%;

            .mat-select-trigger {
                min-width: unset;
                height: 1.125em;
                cursor: pointer;
            }

            .mat-select-underline {
                height: 0;
            }
        }
    }
}
