

@import '~@angular/material/theming';

@include mat-core();


$clue-primary: mat-pallete($mat-blue);
$clue-accent: mat-pallete($mat-orange, A200, A100, A400);

$clue-warn: mat-pallete($mat-red);


$clue-theme: mat-light-theme($clue-primary, $clue-accent, $clue-warn);


@include angular-material-theme($candy-app-theme);